<div class="flex flex-column container-embed my-2 mr-2">
  <h4 class="text-header mb-2">DEPLOY IN QA</h4>
  <div class="flex flex-column flex-max justify-spaceEvenly align-center">
    <input type="text" name="version" placeholder="Version to deploy (A.B.C.D)">
    <input type="text" name="breaking" placeholder="Las breaking version (optional)">
    <div class="btn condensed primary ma-2 align-self-start" onclick="triggerAction(this, 'post-smoke-qa', null)">
      <span>Deploy</span>
    </div>
  </div>
</div>
<div id="dialog" class="cover" onclick="closeDialog(event)">
  <div class="modal">
    <div class="modal-bar">
      <div id="dialog-title" class="modal-title">Title</div>
      <div class="modal-close btn inline" onclick="closeDialog(event)">✖</div>
    </div>
    <div id="dialog-content" class="modal-content">Content</div>
  </div>
</div>