:root {
  --primary-color: rgb(28,66,128);
  --dark-color: rgb(17,40,77);
  --light-color: rgb(84,130,204);
  --gray-color: rgb(90,114,153);
  --txt-alt-color: rgb(180,204,243);
  --txt-color: var(--dark-color);
  --bg-color: rgb(114,160,234);
  --white-color: rgb(148,186,248);
  --secondary-color: rgb(68,106,168);
  --success-color: rgb(26,150,75);
  --success-shadow: rgba(26,150,75, 0.7);
  --success-light: rgb(107,227,155);
  --success-light-shadow: rgba(107,227,155,0.6);
  --success-dark: #116332;
  --success-gray: rgb(79,168,114);
  --success-bg: rgb(126,210,175);
  --error-color: rgb(143,38,0);
  --error-shadow: rgba(143,38,0, 0.7);
  --error-light: rgb(219,107,66);
  --error-light-shadow: rgba(219,107,66,0.6);
  --error-dark: #5C1800;
  --error-gray: #A24F30;
  --error-bg: rgb(203,138,100);
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(180deg)
  }
}

@keyframes gradient {
  0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 0% -150%;
	}
	100% {
		background-position: 0% -300%;
	}
}

body {
  cursor: default;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--white-color);
  overflow-y: hidden;
}

#main {
  padding: 0 16px 16px;
  overflow-y: auto;
  height: calc(100vh - 28px - (2*16px));
  scrollbar-width: thin;
  scrollbar-color: var(--light-color) var(--gray-color);
}

#main::-webkit-scrollbar, .modal-content::-webkit-scrollbar {
  width: 12px;
}
#main::-webkit-scrollbar-track, .modal-content::-webkit-scrollbar-track {
  background: var(--gray-color);
}
#main::-webkit-scrollbar-thumb, .modal-content::-webkit-scrollbar-thumb {
  background: var(--light-color);
}

input {
  background-color: var(--bg-color);
  color: var(--txt-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  font-size: 18px
}
input:focus {
  outline: none
}

pre {
  font-size: 14px
}

/* layouts */
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-max {
  flex: 1 0 auto
}
.flex-main {
  flex: 1 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.justify-spaceAround {
  justify-content: space-around;
}
.justify-spaceBetween {
  justify-content: space-between;
}
.justify-spaceEvenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.align-self-start {
  align-self: flex-start;
}
.full-width {
  width: 100%
}

/* space */
.pa-8 {
  padding: 24px !important
}
.pa-4 {
  padding: 16px !important
}
.pa-2 {
  padding: 8px !important
}
.pa-1 {
  padding: 4px !important
}
.pa-0 {
  padding: 0 !important
}
.pr-8 {
  padding-right: 24px !important
}
.pl-0 {
  padding-left: 0 !important;
}
.pl-2 {
  padding-left: 8px !important
}
.pt-2 {
  padding-top: 8px !important
}
.py-2.px-4 {
  padding: 8px 16px !important
}
.ma-0 {
  margin: 0 !important
}
.ma-2 {
  margin: 8px !important
}
.mx-1 {
  margin: 0 4px !important
}
.mx-2 {
  margin: 0 8px !important
}
.mx-4 {
  margin: 0 16px !important
}
.my-1 {
  margin: 4px 0 !important
}
.my-2 {
  margin: 8px 0 !important
}
.my-4 {
  margin: 16px 0 !important
}
.mt-4 {
  margin-top: 16px !important
}
.mt-8 {
  margin-top: 24px !important
}
.mr-2 {
  margin-right: 8px !important
}
.mr-4 {
  margin-right: 16px !important
}
.mb-0 {
  margin-bottom: 0 !important
}
.mb-2 {
  margin-bottom: 8px !important
}
.mb-4 {
  margin-bottom: 16px !important
}
.mb-8 {
  margin-bottom: 24px !important
}
.ml-1 {
  margin-left: 4px !important
}
.ml-2 {
  margin-left: 8px !important
}
.mx-4.my-2 {
  margin: 8px 16px !important
}
.v-separator {
  height: inherit;
  width: 1px;
  opacity: 0.5;
  background-color: var(--white-color)
}

/* colors */
.primary {
  color: var(--txt-alt-color);
  background-color: var(--primary-color);
}
.secondary {
  color: var(--txt-color);
  background-color: var(--secondary-color);
}
.status-ok {
  background-color: rgb(200,250,200)
}
.status-error {
  background-color: rgb(250,200,200)
}
.status-running {
  background-color: rgb(200,200,255);
}
.text-ok {
  color: rgb(150, 200, 150)
}
.text-error {
  color: rgb(200, 150, 150)
}
.text-running {
  color: rgb(150, 150, 200)
}
.item-success {
  background-color: var(--success-light-shadow) !important;
}
.icon-success {
  color: var(--success-dark)
}
.item-error {
  background-color: var(--error-light-shadow) !important;
}
.icon-error {
  color: var(--error-dark)
}
.icon-progress {
  animation: rotate 2s infinite linear
}
.bg-success {
  background: linear-gradient(var(--success-shadow) 20%, var(--bg-color) 100%) !important;
}
.bg-error {
  background: linear-gradient(var(--error-shadow) 20%, var(--bg-color) 100%) !important;
}
.bg-progress {
  background: linear-gradient(var(--bg-color) 35%, var(--white-color) 60%, var(--bg-color) 75%);
  background-size: 100% 300%;
  animation: gradient 8s infinite linear
}
.bg-new {
  background: var(--bg-color) 100% !important;
}
.header-success {
  background: var(--success-bg);
  box-shadow: 2px 2px 4px var(--success-shadow)
}
.header-error {
  background: var(--error-bg);
  box-shadow: 2px 2px 4px var(--error-shadow)
}
.header-progress {
  background: var(--bg-color);
  box-shadow: 2px 2px 4px var(--light-color)
}

/* elements */
.top-menu {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0,0,50,0.5);
  padding: 6px 12px;
  height: 28px;
  top: 0
}
.top-menu * {
  margin: 0 8px
}
.btn {
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  padding: 8px;
  cursor: pointer;
  border: none
}
.btn-disabled {
  color: var(--gray-color);
  background-color: rgba(255,255,255,0.1);
  box-shadow: none;
  cursor: default
}
.btn-pressed {
  box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
  margin-top: 2px;
  background-color: var(--white-color);
}
.btn.icon {
  padding: 1px 8px 3px;
  border-radius: 16px;
}
.btn.icon-sm {
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 16px;
}
.btn.inline {
  box-shadow: none;
}
.btn.condensed {
  padding: 4px 8px;
  height: fit-content;
}
.btn:not(.btn-disabled):hover {
  box-shadow: 2px 4px 4px rgba(0,0,0,0.5), 48px 48px rgba(0,0,0,0.2) inset;
}
.btn.inline:hover {
  box-shadow: 48px 48px rgba(0,0,0,0.2) inset;
}
.btn.btn-pressed:hover {
  box-shadow: 0px 2px 2px rgb(0 0 0 / 25%), 48px 48px rgba(0,0,0,0.2) inset;
}
.icon {
  padding: 0 4px
}
.link {
  text-decoration: underline;
  cursor: pointer;
}
.list-item {
  box-shadow: -2px 2px 4px var(--secondary-color), 2px 2px 4px var(--secondary-color);
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: var(--bg-color);
}
.header {
  color: var(--txt-color) !important;
  padding: 8px 0;
  font-weight: bold;
}
.input-text {
  padding: 8px
}
.label {
  padding: 4px;
  border-radius: 4px;
  margin: 0 8px;
  font-size: 14px
}
.sublist-item {
  padding: 4px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 1px 1px 4px;
  margin: 8px 0;
}
.container-embed {
  padding: 16px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 4px var(--gray-color) inset;
  border-radius: 4px;
}
.badge {
  background-color: var(--secondary-color);
  color: var(--txt-color);
  border-radius: 16px;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0px 0px 1px inset;
}

.tabs {
  display: flex;
}
.tab {
  margin: 4px;
  padding: 4px;
  color: var(--gray-color);
  border-bottom: 4px solid var(--light-color);
}
.tab.selected {
  color: var(--txt-color);
  border-bottom: 4px solid var(--primary-color);
}
.tab:hover:not(.selected) {
  cursor: pointer;
  box-shadow: 48px 48px rgba(0,0,0,0.1) inset;
  border-bottom: 4px solid var(--primary-color);
  color: var(--txt-color);
  border-radius: 2px 2px 0 0;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.grid-container {
  width: 100%
}
.grid-header {
  display: flex
}
.grid-row {
  display: flex
}
.grid-col, .catalog-col {
  background-color: var(--light-color);
  color: var(--txt-color);
  padding: 4px;
  margin: 2px 2px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  flex: 1 0 auto;
  max-width: 280px;
}
.col-2 {
  flex: 0 0 20%;
  max-width: 200px
}
.col-3 {
  flex: 0 0 30%;
  max-width: 300px;
}
.grid-header .grid-col, .catalog-header {
  background-color: var(--dark-color);
  color: var(--txt-alt-color);
  margin: 0 2px 2px
}

.catalog {
  display: flex;
  flex-direction: column
}
.catalog-container {
  display: none
}
.catalog-row {
  display: flex;
  margin-bottom: 1px
}
.catalog-header {
  display: flex;
  padding: 4px;
  align-items: center;
  margin: 0;
  border-radius: 2px 0 0 2px;
  font-size: 13px
}
.catalog-col {
  margin: 0;
  border-radius: 0 2px 2px 0;
}
.catalog-separator {
  height: 8px
}

#dialog {
  display: none
}
.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  flex-direction: column;
}
.modal {
  border-radius: 4px;
  background-color: var(--bg-color);
  z-index: 10;
  margin: 32px;
  min-width: 320px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 2*32px);
  box-shadow: -2px 2px 4px var(--secondary-color), 2px 2px 4px var(--secondary-color);
}
.modal-bar {
  flex: 0 0 28px;
  padding: 8px;
  background-color: var(--primary-color);
  color: var(--txt-alt-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-title {
  flex: 1 0 auto;
  text-align: center;
}
.modal-close {
  justify-self: flex-end;
}
.modal-content {
  overflow-y: auto;
  padding: 8px;
  scrollbar-width: thin;
  scrollbar-color: var(--light-color) var(--gray-color);
}

/* text */
.title {
  font-size: 18px;
  cursor: default
}
.subtitle {
  margin: 0 -16px;
  position: sticky;
  top: 0
}
.text-center {
  text-align: center;
  line-height: 1.5;
}
.text-header {
  color: var(--dark-color);
  margin: 16px 0
}
.text-bold {
  font-weight: 400;
}

/* state */
.hidden {
  display: none;
}

/* Specifics */
.action-updates {
  margin: 0 16px
}
.action-schedule {
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.5);
  border-radius: 8px;
  padding: 8px;
}
.action-schedule .btn {
  margin: 0 4px 0 12px;
}