body {
  cursor: default;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main {
  margin: 16px
}

/* layouts */
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-max {
  flex: 1 0 auto
}
.flex-main {
  flex: 1 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.justify-spaceAround {
  justify-content: space-around;
}
.justify-spaceBetween {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-self-start {
  align-self: flex-start;
}

/* space */
.pa-8 {
  padding: 24px
}
.pa-4 {
  padding: 16px
}
.pa-2 {
  padding: 8px
}
.pr-8 {
  padding-right: 24px
}
.mx-4 {
  margin: 0 16px
}
.mt-8 {
  margin-top: 24px
}
.v-separator {
  height: inherit;
  width: 1px;
  opacity: 0.5;
  background-color: rgb(225,225,255)
}

/* colors */
.white-blue {
  color: rgb(225,225,255);
  background-color: rgb(0,0,100);
}
.status-ok {
  background-color: rgb(200,250,200)
}
.status-error {
  background-color: rgb(250,200,200)
}
.status-running {
  background-color: rgb(200,200,255);
}
.text-ok {
  color: rgb(150, 200, 150)
}
.text-error {
  color: rgb(200, 150, 150)
}
.text-running {
  color: rgb(150, 150, 200)
}

/* elements */
.top-menu {
  display: flex;
  align-items: center;
  color: rgb(225,225,255);
  background-color: rgb(0,0,50);
  box-shadow: 8px 0px 8px rgba(0,0,50,0.75);
  padding: 6px 12px;
  margin-bottom: 8px;
  height: 28px;
  position: sticky;
  top: 0
}
.top-menu * {
  margin: 0 8px
}
.btn {
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  padding: 8px;
  cursor: pointer;
  text-transform: uppercase
}
.btn-disabled {
  color: rgb(100,100,100);
  background-color: rgb(200,200,200);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  cursor: default
}
.link {
  text-decoration: underline;
  cursor: pointer;
}
.list-item {
  box-shadow: -2px 2px 4px rgba(0,0,0,0.15);
  margin-bottom: 8px;
  border-radius: 2px;
}
.input-text {
  height: 24px;
  padding: 4px
}

/* text */
.title {
  font-size: 18px;
  cursor: default
}

/* state */
.hidden {
  display: none;
}

/* Specifics */
.action-status {
  margin: 0 16px
}